/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Dec, 2017, 12:27:27 AM
    Author     : user
*/
.banner-image
{
    padding-top: 75px;     
    padding-bottom: 50px; 
    text-align: center; 
    color: #f8f8f8; 
    background: url("../img/background.jpg")no-repeat center center ; 
    background-attachment: fixed;
    background-size: cover; 
}
.inner-banner-image
{
     padding-top: 12%;  
     width:50%;
     margin:auto; 
}
.banner-content
{
    position: relative; 
    padding-top: 6%; 
    padding-bottom: 6%; 
    margin-top: 12%; 
    margin-bottom: 12%;    
    background-color: rgba(0, 0, 0, 0.7); 
    max-width: 660px; 
}
footer
{
    padding: 10px 0; 
    background-color:#101010;
    color:#9d9d9d; 
    bottom: 0; 
    width: 100%; 
}
.background_login
{
    height: 1080px;
    padding-top: 75px;     
    padding-bottom: 50px; 
    text-align: center; 
    color: #f8f8f8; 
    background: url("../img/background_login.jpg")no-repeat center center ; 
    background-size: cover; 
}
.background_reset
{
    height: 1080px;
    padding-top: 75px;     
    padding-bottom: 50px; 
    text-align: center; 
    color: #f8f8f8; 
    background: url("../img/background_reset.jpg")no-repeat center center ; 
    background-size: cover; 
}
.message
{
    float: left;
    color: red;
    height: 30px;
}